input.ng-invalid.ng-touched{
    border: 1px solid red;
    background-color: pink;
}

.rcorners4 {
    border-radius: 15px;
    /* background-color: gray; */
    background: url('https://wallpaper-house.com/data/out/6/wallpaper2you_112300.jpg');
    opacity: 0.9;
    padding: 5px; 
}